.home{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 10px;
    color: rgb(78, 78, 183);
}
*{
    margin: 0px;
    padding: 0px;
    background: #323131;
    text-decoration: none;
    color: aliceblue;
}