
*{
    margin: 5px;
    padding: 0px;
    background: #323131;
    text-decoration: none;
    color: aliceblue;
}
.home{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 10px;
    color: rgb(78, 78, 183);
    border: 2px solid green;
    border-radius: 5px;
    padding: 4px 8px;
}